main section:first-of-type {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

main h1 {margin: 50px auto;}

.button_pako {
    border: none;
    color: white;
    padding: 12px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}

.button_pako_back {
    background-color: #444;
    color: WHITE;
    border: 2px solid #555555;
    cursor: not-allowed;
}
.button_pako_front {
    background-color: white;
    color: black;
    border: 2px solid #555555;
    cursor: pointer;
}

.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

/* //////////////////////////////////////////////// ROADMAP ///////////////////////////////// */

li {
    list-style-type: none;
}

cite {
    display: flex;
    align-self: flex-end;
    justify-content: space-between;
    margin: 15px 30px;
}

cite > a {
    margin-left: 10px;
}

pre { 
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    width: 390px;
}

pre > var:not(:first-of-type), pre > strong:last-of-type {
    margin-left: 100px;
}

blockquote > p {
    margin:0;
}

.modal-header {
    display: flex;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
}

.modal-footer > h6 {
    margin-bottom: 4px;
}

.modal-footer > i {
    font-size: 26px;
}

.modal-body > li:not(:last-of-type) {
    margin-bottom: 20px;
}

.modal-body > li:first-of-type {
    display: flex; 
    margin-top: 20px;
}

#anatomie {
    display: block;
    width: 80%;
    margin: 0 auto;
}

blockquote
{
  font-style: normal;
  font-size: 16px;
  margin-left: 32px;
  font-family: Consolas, "Times New Roman", Verdana;
  border-left: 4px solid #CCC;
  padding-left: 8px;
}

main section:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    width: 500px;
    margin: 80px auto;
}

main > section:nth-of-type(2) > svg:first-of-type {
    margin-bottom: 60px;
}

#c_s_s {
    display: inline-block;
}

#c_s_s > svg:nth-of-type(2) , #c_s_s > svg:nth-of-type(4) {
    margin-top: 50px;
}

#j_s_ {
    display: inline-block;
}

#g_i_t_ {
    position: absolute;
    top: 1050px;
    left: 30px;
}

#frameWorks {
    margin-top: 60px;
    justify-content: space-between;
}

#angularTS {
    align-self: start;
}

#vueJS {
    align-self: end;
    margin-left: 50px;
}
