/* CSS MOBILE FIRST */

html,
body {
    width: 100%;
    margin: 0;
    padding: 0;
}

:root {
    --orange-background-color: #fa6600;
    --black-background-color: #282828;
    --roboto-condensed-font-family: 'Roboto Condensed', sans-serif;
    --roboto-font-family: 'Roboto', sans-serif;
}

body {
    font-family: var(--roboto-font-family);
    background-color: #f0f0f0;
    color: black;
}

header {
    background-color: var(--orange-background-color);
}

/*
nav {}

main {}
*/

form input,
select,
textarea {
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.05);
    border-radius: 3px;
    padding: 10px 25px;
    box-sizing: border-box;
}

/*
section {}

article {}

aside {}
*/

footer {
    margin-top: 10px;
    background-color: var(--black-background-color);
}

/* ICI ON MET LES CLASS ET ID */

/* MEDIA QUERIES DESKTOP 

@media only screen (min-width: 992px) {
    ...
}