/* CSS MOBILE FIRST */

html,
body {
    width: 100%;
    margin: 0;
    padding: 0;
}

:root {
    --orange: #ff8300;
    --black: #343a40;
    --roboto-condensed: 'Roboto Condensed', sans-serif;
    --roboto: 'Roboto', sans-serif;
    --Montserrat-Subra: 'Montserrat Subrayada', sans-serif;
}

body {
    font-family: var(--roboto);
    background-color: #f0f0f0;
}

.navbar-brand {
    display: flex;
    align-items: center;
    font-family: var(--Montserrat-Subra);
    
}

.fa-connectdevelop {
    margin: 0 15px;
}

.navbar.navbar-expand-lg.navbar-light {
    background: linear-gradient(to right, var(--orange), #ffa400);
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.05);
    font-weight: bold;
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.1);
    padding: 10px;
}

main {
    padding: 20px;
}

.wrapper {
    width: 400px;
    margin: 0 auto 20px auto;
    border-bottom: 1px solid #ffa400;
    padding-bottom: 20px;
}


form input,
select,
textarea {
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.05);
    border-radius: 3px;
    padding: 10px 25px;
    box-sizing: border-box;
}

/*
section {}

article {}

aside {}
*/

footer {
    margin-top: 5vh;
    background-color: var(--black);
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.05);
    color: white;
}

footer a {
    color: white;
}

footer a:hover {
    text-decoration: none;
    color: var(--orange);
    transition-duration: 0.5s;
    margin-top: 10px;
    background-color: var(--black);
}

/* ICI ON MET LES CLASS ET ID */

/* MEDIA QUERIES DESKTOP */
/*
@media only screen (min-width: 992px) {
    ...
} */