/* CSS MOBILE FIRST */

html,
body {
    width: 100%;
    margin: 0;
    padding: 0;
}

:root {
    --orange: #fa6600;
    --black: #282828;
    --roboto-condensed: 'Roboto Condensed', sans-serif;
    --roboto: 'Roboto', sans-serif;
}

body {
    font-family: var(--roboto);
    background-color: #f0f0f0;
    color: black;
}

header {
    background-color: var(--orange);
}

/*
nav {}

main {}
*/

form input,
select,
textarea {
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.05);
    border-radius: 3px;
    padding: 10px 25px;
    box-sizing: border-box;
}

/*
section {}

article {}

aside {}
*/

footer {
    margin-top: 5vh;
    background-color: var(--black);
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.05);
    color: white;
}

footer a {
    color: white;
}

footer a:hover {
    color: var(--orange);
    transition-duration: 0.5s;
}

/* ICI ON MET LES CLASS ET ID */

/* MEDIA QUERIES DESKTOP 

@media only screen (min-width: 992px) {
    ...
}