/* CSS MOBILE FIRST */

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

:root {
    --orange: #ff8300;
    --black: #343a40;
    --roboto-condensed: 'Roboto Condensed', sans-serif;
    --roboto: 'Roboto', sans-serif;
    --Montserrat-Subra: 'Montserrat Subrayada', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    font-family: var(--roboto);
    background-color: #f0f0f0;
    padding-top: 40px;
}

nav {
    position: fixed;
}

.navbar-brand {
    display: flex;
    align-items: center;
    font-family: var(--Montserrat-Subra);
    
}

.fa-connectdevelop {
    margin: 0 15px;
}

.navbar.fixed-top.navbar-expand-lg.navbar-light {
    background: linear-gradient(to right, var(--orange), #ffa400);
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.05);
    font-weight: bold;
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.1);
    padding: 10px;
}

main {
    height: auto;
    padding: 20px;
}

/* Texte intro-ressources */

p.intro-ressources {
    padding: 20px;
}

/* Modif couleur logo page ressources */
.fa-html5   {
    color: #e34f26;
}
.fa-css3-alt {
    color: #264de4;
}
.fa-js-square {
    color: #f0db4f;
}
.fa-book-open {
    color: var(--orange);
}
.fa-tools {
    color: var(--orange);
}

form input,
select,
textarea {
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.05);
    border-radius: 3px;
    padding: 10px 25px;
    box-sizing: border-box;
}

footer {
    margin-top: auto;
    background-color: var(--black);
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.05);
    color: white;
}

footer a {
    color: white;
}

footer a:hover {
    text-decoration: none;
    color: var(--orange);
    transition-duration: 0.5s;
    margin-top: 10px;
    background-color: var(--black);
}

/* ICI ON MET LES CLASS ET ID */

.infos-section
{
    width: 85%;
    margin: 8px auto;
}

.infos-section h2
{
    text-align: center;
    padding-bottom: 30px;
}

.infos-section h3
{
    font-size: x-large;
}

.infos-form
{
    display: flex;
    flex-direction: column;
    align-content: center;
}

.infos-form input, select, textarea
{   
    width: 85%;
    border-radius: 5px;
    margin: 8px auto; 
    border: none;
    border-bottom-style: none;
}

.infos-form input:focus, .infos-form textarea:focus
{
    background-color: rgb(230, 230, 230);
    border: 1px solid #ff8300;
}

.infos-form .button
{
    background-color: #ff8300;
}

.infos-form .button:hover
{
    background-color: #ffa400;
    font-weight: bold;
}

.infos-form select option
{
    color: black;
}

.infos-form select:invalid
{
    color: grey;
}

.infos-form textarea
{
    overflow: auto;
    resize: none;
}

#accordion-howto {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

#accordion-howto h2 {
    font-size: 1.6em;
}

.btn.btn-link {
    font-size: 0.7em;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    color: var(--black);
}

.btn.btn-link:hover {
    color: var(--orange);
}


/* MEDIA QUERIES DESKTOP */

@media only screen and (min-width: 992px) {
    .infos-form input, select, textarea, .button {
        width: 60%;
    }
    #accordion-howto h2 {
        font-size: 2em;
    }
}